<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <hr class="hor-line">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div  id="mobile" class="navbar-toggle collapsed nav-bar-icon text-right" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <i id="nav-icon" class="fa fa-bars bars-icon" aria-hidden="true"></i>
        </div>
        <div id="navbar-collapse-1" role="navigation" class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><a [routerLink]="['../feed']"  class="nav-a">HOME</a></li>
                <li  class="nav-li"><a [routerLink]="['../write']" class="nav-a">WRITE  NOTE</a></li>
                <li  class="nav-li"><a [routerLink]="['../request']" class="nav-a" href="">REQUEST MATERIAL</a></li>
                <li class="nav-li"><a [routerLink]="['../coursemates']" class="nav-a">COURSE MATES</a></li>
            </ul>
        </div>
    </div>
</div>