<title>Add Your Courses</title>
<style>
		.form-container{
			max-width: 100%;
		}
	</style>
  <header class="container-fluid header">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<h1 class="logo text-thin">Logo</h1>
				</div>
			</div>
		</div>
	</header>

	<section id="section-container" class="container-fluid complete-reg-conatiner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
					<div class="form-container add-course-container">
						<h2 class="text-center text-thin form-title">Add your course codes</h2>
						<hr class="hor-line">
						
						<form class="form-course-code" [formGroup]="courseListForm" (ngSubmit)="addCourseToList(courseListForm.value)">
							<span class="input-text-group">
								<input type="text" [formControl]="courseCode" [class.invalid-form-border]="courseCode.touched && courseCode.errors" class="large-input-text input-text text-thin input-course-code" placeholder="Course code">
								</span>
							<button class="btn button text-thin btn-add-course" [disabled]="!courseListForm.valid"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
							<span *ngIf="courseCode.touched && courseCode.dirty && courseCode.errors">
								<p class="error-mesg text-danger text-xs text-2-thin" *ngIf="courseCode.errors.courseCodeFormat">Wrong format. Format like this 'BDG343'</p>
							</span>
						</form>
						<!--List of added course-->
						<ul class="added-course-container">
							<span *ngFor="let mycourse of courseList; let i = index">
								<li class="added-course">{{mycourse}} <i class="fa fa-close" (click)="removeCourseFromList(i)" aria-hidden="true"></i></li>
							</span>
						</ul>
						<app-alert></app-alert>
            			<div class="btn-continue-container text-center">
							<button class="btn button btn-continue text-thin" (click)="submitCourseList(courseCode.value)">
								<span *ngIf="!loading">
									Continue <i class="fa fa-arrow-right" aria-hidden="true"></i>
								</span>
								<span *ngIf="loading">
									<i class="fa fa-spinner fa-spin"></i>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="container-fluid footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center footer-links">
					<a href="" class="footer-links text-thin">Privacy</a> | <a href="" class="footer-links text-thin">Terms and Conditions</a> | <a href="" class="footer-links text-thin">About us</a> | <a href="" class="footer-links text-thin">Jobs</a> | <a href="" class="footer-links text-thin">Get in touch</a>
					<p class="copy-right text-thin">2016 All Right Reserved</p>
				</div>
			</div>
		</div>
	</footer>